<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mountain Travel</title>

  <link rel="stylesheet" href="/static/css/style_login.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

  <div class="cd-popup z-50 fixed bottom-0 inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center" role="alert">
    <div class="cd-popup-container">
        <!-- <form method="POST" action="/db_page"> -->
           <h2 class="title"> Log in to your account</h2>
           <br>

           <div class="email-login">
              <label class = "form_row" for="email"> <b>Email</b></label>
              <br>
              <input class= "form_row user-input" type="email" name="email" placeholder="Your Email" autofocus="">
              <br>
              <label for="psw"><b>Password</b></label>
              <br>
              <input class= "user-input" type="password" name="password" placeholder="Your Password">
           </div>
           <br>
           <button  class="btn cta-btn">Log In</button>
           <br>
           <br>
           <a class="forget-pass" href="#">Forgot password?</a>
           <br>
           <p class="subtitle">Don't have an account? <a href="#"> Sign Up</a></p>
        
     </div>
    </div> <!-- cd-popup-container -->
</div>

  <!-- Forked from a template on Tutorialzine: https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox -->
  <header>


    <h2 id = brand_header class="darker">    <img src="/static/images/budget2.svg" alt="Elona" width="50em"> <a href="#">   BudgetEase</a></h2>

    <nav>
        <li><class= href="#"class="darker cd-popup-trigger">Login</class=></li>

        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
    </nav>

    

  </header>

  <section class="hero">
    <div class="background-image" style="background-image: url(assets/img/main.jpg);"></div>

    <div class="hero-content-area">
      <h1 id = budget_title1>Budgeting,</h1>
      <h1 id = budget_title2>made easy.</h1>
      <h3 id= "the_problem">Recent developments in the world have made transictions intangible and messy.     <br font-weight:bold;>Your budget doesn't have to be so.</h3>
      <a href="" class="btn cta-btn">Join Us</a>
    </div>
  </section>


      <footer>
          <p>Let's go to the end of this projects & start using our cool app.</p>
          <ul>
            <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
          </ul>
        </footer>
</div>
</body>
</html>

